input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #25c1ff;
    -webkit-box-shadow: 0 1px 0 0 #25c1ff;
    box-shadow: 0 1px 0 0 #25c1ff;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #25c1ff;
}